@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>LNU - Web Intelligence - 2DV515</h1>
<h2>Assignment 1</h2>
<h3>Implementation of a recommendation system for the example movies data set from the lecture.</h3>
